#body_addresses .button_wide,.button{text-decoration:none;color:#fff;background:#9ed9dc;padding:0 15px;height:35px;line-height:35px;position:relative;}
.button:before{position:absolute;content:" ";left:0;top:0;width:1px;height:35px;background:#9ed9dc;}
#body_addresses .button_wide:hover,.button:hover{background:url(/img/background.png) no-repeat right -157px;color:#5dc6dc !important;}
.button:hover:before{background:#666;}
#body_addresses .button_wide{text-align:center;width:auto;}
input[type="file"],
input[type="password"],
input[type="text"] {border-left: 1px solid #d3d3d3 !important;border-bottom: 1px solid #d3d3d3 !important;border-right: 1px solid #b4b4b4 !important;border-top: 1px solid #b4b4b4 !important;color: #404006;font-size: 14px;-moz-box-shadow: inset -1px 1px 0 0 #d9d9d9;-webkit-box-shadow: inset -1px 1px 0 0 #d9d9d9;box-shadow: inset -1px 1px 0 0 #d9d9d9;}

#pt-upload input[type="file"] {
	width: 285px;
}
#wrapper{padding-top: 0;}

#pagecontent p {
	margin-bottom: 0;
}

#header {height: 50px;padding-top:0;background:none;}
#logo{padding:3px;}

#editor_top_border,
#editor_bottom_border,
#switch_card {
	display: none;
}

#pagecontent {
	float: left;
	background: #fff;
	width: 960px;
	padding: 0;
	border: none;
}

.choice_center {
	margin-top: 40px;
}

.leftdiv {
	padding-top: 15px;
}

#body_edit .leftdiv {
	position: relative;
}

.rightdiv {
	padding-top: 22px;
	width: 340px;
}

#headernavigation {
	margin: 0;
	height: 50px;
}

#headernavigation a {
	height: 50px;
}

#body_edit #texttable{color:#657579;font-size:11px;font-family:'Trebuchet MS',Verdana;}
#body_edit #texttable tr{line-height:12px;padding:0}
#body_edit #texttable td{padding:0;margin:0}
.ui-accordion-header{background:none;}
#accordion {border: 1px solid #E8E8E8;}
#accordion h3 {padding: 0;margin: 0;padding-bottom: 0;}
#accordion h3 a {background: #9ed9dc;font-size: 13px;color: #fff;height: 27px;line-height: 27px;padding: 0 0 0 10px !important;border-top: 1px solid #E8E8E8;}
#accordion h3 a:hover{background: #58c0c5;}
#accordion .ui-state-active a {background: #31a5ab !important;color: #fff;}
.ui-accordion .ui-accordion-content {margin-bottom: 0 !important;border: none !important;background: none !important;}
#body_edit .ui-accordion-header:first-child a {border: none;}
#accordion .ui-accordion-content {color: #262626;background: #fafafa;border: 1px solid #d3d3d3;border-top: none;margin-top: 0;padding-left: 10px !important;padding-right: 10px !important;}
#body_enveloppen #accordion .ui-accordion-content {background: none;}
#body_edit .sp-replacer{position:relative;height:26px;padding:1px;border-color:#d3d3d3}
#body_edit .sp-replacer .sp-dd{position:absolute;top:12px;right:10px;width:0;height:0;border-style:solid;border-width:4px 4px 0 4px;border-color:#bbb transparent transparent transparent;text-indent:-9999px}
#body_edit .sp-replacer .sp-preview{width:206px;height:26px;margin-right:0;color:#262626;font-size:11px;font-family:'Trebuchet MS',Verdana;border:0}
#body_edit .sp-replacer .sp-preview-inner{padding-left:7px;line-height:24px}
#body_edit .textsizelabel{margin:5px 0 5px}
#body_edit #position_txt_tofront, #body_edit #position_txt_toback{width:27px;height:21px;margin:0 !important;padding:0 !important}
#body_edit #position_txt_tofront{background: url("/img/background.png") no-repeat scroll -219px 0 rgba(0, 0, 0, 0) !important;}
#body_edit #position_txt_toback{background: url("/img/background.png") no-repeat scroll -179px 0 rgba(0, 0, 0, 0) !important;}
#body_edit #position_txt_tofront span,#body_edit #position_txt_tofront img, #body_edit #position_txt_toback span, #body_edit #position_txt_toback img{display:none}
#body_edit #bt-color .sp-replacer, #body_edit #bt-pattern .sp-replacer, #body_edit #patternselect_div .bg_select{float:left;width:206px}
#body_edit #bt-color, #body_edit #bt-pattern, #body_edit #patternselect_div{width:317px}
#body_edit #bt-color .description, #body_edit #bt-pattern .description, #body_edit #patternselect_div .title{width:107px;margin-top:5px;color:#657579;font-size:11px;font-family:'Trebuchet MS',Verdana;}
#body_edit #patternselect_div .title{float:left}
#body_edit #patternselect_div #patternselect{width:210px !important}
#body_edit #patternlist{clear:both}
#body_edit #patternlist .head{margin-top:7px;margin-bottom:3px}
#body_edit .bg_select{background:#ebf4f3;width:189px !important;height:30px;padding:5px;color:#232728;font-size:12px;font-family:'Trebuchet MS',Verdana;border:1px solid #d0d4d5;box-shadow:inset 1px -1px 0px #fff;-moz-box-shadow:inset 1px -1px 0px #fff;-webkit-box-shadow:inset 1px -1px 0px #fff}
#accordion select, #accordion input, #accordion textarea{background:#fff;padding:0 6px;color:#262626;font-size:14px;font-family:'Trebuchet MS',Verdana;border:1px solid #d3d3d3;box-shadow:0 -1px 0 #b4b4b4;-moz-box-shadow:0 -1px 0 #b4b4b4;-webkit-box-shadow:0 -1px 0 #b4b4b4}
#accordion select, #accordion input{line-height:31px;height:31px;}
#accordion input.textsizelabel, #accordion input.texttransparencylabel{background:#f8f9f9;border-color:#d3d3d3;border-width:2px 2px 1px 1px;border-style:solid;height:20px;line-height:20px;padding:0 6px;color:#6b2d52;font-size:12px;font-family:'Trebuchet MS',Verdana;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}
#pt-upload input[type="file"] {margin-bottom: 10px;background:#ebf4f3;width:316px;height:28px;line-height:27px;padding:0;color:#232728;font-size:12px;font-family:'Trebuchet MS',Verdana;border:1px solid #d0d4d5;box-shadow:inset 1px -1px 0px #fff;-moz-box-shadow:inset 1px -1px 0px #fff;-webkit-box-shadow:inset 1px -1px 0px #fff}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color: #000;}

#headermenu {;margin: 0;top:13px;}

#headernavigation {
	display: none;
}

#headernavigation {
	padding: 0;
	left: 0;
	width: 445px;
}

#choose_card {
	display: none !important;
}

#edit_card div {
	background: url(/img/step01.png) no-repeat left center;
}

#edit_card.headernavigation_buttons_active div {
	background: url(/img/step01-active.png) no-repeat left center;
}

#address_card div {
	background: url(/img/step02.png) no-repeat left center;
}

#address_card.headernavigation_buttons_active div {
	background: url(/img/step02-active.png) no-repeat left center;
}

#pay_card div {
	background: url(/img/step03.png) no-repeat left center;
}

#pay_card.headernavigation_buttons_active div {
	background: url(/img/step03-active.png) no-repeat left center;
}

#headernavigation_buttons #pay_card {
	background: none;
	padding-right: 0;
	margin-right: 0;
}

#headermenu {height: auto;}
#nav_buttons{border-top:2px solid #f0f2f2;width: 920px !important;left: 0 !important;bottom: 20px !important;height:63px;padding-top:7px;background:#f8f9f9;padding-left:20px;padding-right:20px;}
#body_basket #nav_buttons a.button[href="/address_n"],#done,#step_forward,#order_card {margin-top:8px;width: auto;background:url(/img/background.png) no-repeat right -117px;font-weight: bold;font-size: 14px;height: 35px;line-height: 35px;padding-left: 15px;padding-right: 60px;text-decoration:none;position:relative;}
#body_basket #nav_buttons a.button[href="/address_n"]:before,#done:before,#step_forward:before,#order_card:before{position:absolute;content:" ";left:0;top:0;width:1px;height:35px;background:#9ed9dc;}
#body_basket #nav_buttons a.button[href="/address_n"]:hover,#done:hover,#step_forward:hover,#order_card:hover{text-decoration: none;background-position: right -198px;color:#5dc6dc !important;}
input#step_forward{line-height:32px;font-family:Arial, Helvetica, sans-serif;border:none !important;width:242px;padding-right:0;}
#body_basket #nav_buttons a.button[href="/address_n"]:hover:before,#done:hover:before,#step_forward:hover:before,#order_card:hover:before{background:#666 !important;}
input#step_forward:hover{background-position: right -294px;}

#skip_design {
	display: none;
}

#body_basket #nav_buttons a.button[href="/"],#step_back,#step_forward_alternate {color: #597092;font-size: 14px;width: auto;line-height: 24px;}
#step_forward_alternate {padding-right: 22px;margin-right: 163px;margin-top: 14px;}
#body_basket #nav_buttons a.button[href="/"],#step_back {margin-top: 14px;padding-left: 22px;}
#body_basket #nav_buttons a.button[href="/"],#step_back:hover,#step_forward_alternate:hover {text-decoration: underline;}
#body_basket #nav_buttons a.button[href="/"]{padding: 0 0 0 22px !important;background:none !important;text-decoration:none !important;}
#body_basket #nav_buttons a.button[href="/"]:before{background:none !important;}
#body_basket #pagecontent{padding-bottom:100px !important;}
#chooseside {
	top: -22px;
}

#nav_remark_div {bottom: 104px;color: #262626;left: 0;width: 960px;font-size: 15px;}
#nav_remark_div b {display: block;font-weight:normal;}
#pagecontent h1 {margin-left: 0 !important;color: #9ed9dc;font-weight: bold;text-transform: none;font-size: 24px;}
#body_address #pagecontent h1,#body_addresses #pagecontent h1 {margin-right: -190px;margin-bottom: 24px;}
#body_address #pagecontent h1 {margin-bottom: 15px;}
#body_bestel_login .choice_center{width:720px;padding:3px 0 179px}
#body_bestel_login .choice_center:after{content:".";clear:both;display:block;height:0;line-height:0;visibility:hidden}
#body_bestel_login .choice_center h1{padding-bottom:62px;color:#8ac0cf}
#body_bestel_login .choice_center div.choice_block{background:#fff;border:1px solid #dbf0e9;padding:9px 15px;width:178px;height:256px;min-height:inherit;margin:0 15px}
#body_bestel_login .color{line-height:20px;color:#262626;font-weight:normal;font-size:16px;font-family:Arial;}
#body_bestel_login .choice_block input[type="text"], #body_bestel_login .choice_block input[type="password"]{width:170px;height:32px;line-height:32px;padding:0 6px 0 0;margin:2px 0 1px;color:#262626;font-size:15px;text-indent:5px;font-family:Arial;border-width:1px;border-style:solid;border-color:#b4b4b4 #b4b4b4 #d3d3d3 #d3d3d3;box-shadow:inset -1px 1px 0 #d3d3d3;-moz-box-shadow:inset -1px 1px 0 #d3d3d3;-webkit-box-shadow:inset -1px 1px 0 #d3d3d3}
#body_bestel_login .choice_block ul{padding-top:16px}
#body_bestel_login .choice_block li{background:url("/img/bullet.png") no-repeat scroll 1px 9px rgba(0, 0, 0, 0);line-height:20px;padding-left:12px;font-size:14px;font-family:Arial;}
#body_bestel_login .choice_block form{padding-top:12px}
#body_bestel_login .choice_center div.choice_block table{width:100%;margin-left:-3px}
#body_bestel_login .choice_center div.choice_block table b{color:#262626;font-weight:normal;font-size:14px;font-family:Arial;}
#body_bestel_login div.choice_block .button{background:#9ed9dc;position:absolute;bottom:14px !important;left:16px;margin-left:0;text-align:center;}
#body_bestel_login div.choice_block .button:hover{background:url(/img/background.png) no-repeat right -157px;color:#5dc6dc;}
#body_bestel_login div.choice_block input.button{width:176px;height:35px!important}
#body_bestel_login div.choice_block span.button{width:146px}
#body_bestel_login .choice_block input[type="submit"]:hover{background:none;}
#body_keuze .choice_div .button{width:145px;}
#body_keuze .choice_center{text-align:center;}
#body_keuze .choice_div{display:inline-block;float:none !important;}
#body_keuze .choice_div:nth-child(3){display:none;}
#body_keuze #pagecontent h1{margin-bottom:50px;}
#body_keuze #pagecontent .button{text-align:center;}
#body_keuze .choice_div_content {background: url("/img/keuze_bg_small.png") no-repeat scroll 100% 73px rgba(0, 0, 0, 0);height: 180px;}
#body_keuze .choice_div_content:hover {background-position: 0 73px}

#body_addresses .leftdiv,
#body_address .leftdiv {
	width: 600px;
}

#body_addresses .address,
#body_address .address {
	background: none;
	padding: 20px 0;
	width: 600px;
	height: auto;
}

#body_addresses #rightdiv,
#body_address #rightdiv {
	float: right;
	width: 319px;
	padding: 0;
}

#body_addresses .address table,
#body_address .address table {
	margin: 0;
	width: 100%;
	position: inherit;
	top: 0;
	border-spacing: 0;
	border: none;
	font-size: 14px;
}

#body_address .address table tr td {
	padding: 5px 0;
}

#body_address .address table .pad {
    padding: 0 10px;
    width: 83px;
}

#body_addresses .address table tr td:first-child,
#body_address .address table tr td:first-child {
	width: 130px;
}

.address input[type="text"],
.address input[type="password"] {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B4B4B4 #B4B4B4 #D3D3D3 #D3D3D3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
	-moz-box-shadow: -1px 1px #D9D9D9 inset;
	-webkit-box-shadow: -1px 1px #D9D9D9 inset;
    box-shadow: -1px 1px #D9D9D9 inset;
}

.address input[type="text"],
.address select {
    padding: 8px 2%;
    width: 96%;
}

.address select {
	width: 100%;
	color: #404006;
}

#body_addresses .address table tr td.col4 {
	width: 197px !important;
}

#order_present_preview {
	padding: 0 !important;
	background: none !important;
	border: 1px solid #dbf0e9;
	height: auto !important;
	text-align: center;
}

#body_address #order_present_preview {
	margin-top: 104px !important;
	width: auto;
}

#body_addresses #order_present_preview {
	margin-top: 100px !important;
	width: auto;
}

#papier_preview .title,
#order_address_preview .title,
#order_present_preview .title {
    background: none;
    color: #9ed9dc !important;
    font-size: 16px;
    font-weight: 700;
    height: 39px;
    line-height: 39px;
    margin-bottom: 0;
    padding: 0 15px !important;
    text-align: left;
}

#order_address_preview,
#papier_preview {
	padding: 0 !important;
	background: none !important;
	border: 1px solid #dbf0e9;
	height: auto !important;
}

#body_address #papier_content {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 20px;
	width: auto;
}

#body_address #papier_content p {
	margin: 0;
}

#body_address #papier_content ul {
	margin: 15px 0 0 0;
}

#enveloppen_preview {
	position: absolute;
	left: 0;
	top: 650px;
	height: auto !important;
	background: none !important;
	border: 1px solid #dbf0e9;
	width: 598px;
}

#enveloppen_preview .title {
	background: none;
    color: #9ed9dc !important;
    font-size: 16px;
    font-weight: 700;
    height: 39px;
    line-height: 39px;
    margin-bottom: 6px;
    padding: 0 15px 0 16px !important;
    text-align: left;
}

#enveloppen_preview table {
	border-spacing: inherit;
	margin: 20px;
}

.enveloppen_beschrijving {font-size: 12px;padding: 0 20px 20px;}
.enveloppen_beschrijving a {color: #9ed9dc;}
.enveloppen_beschrijving a:hover {text-decoration: underline;}

#body_addresses #pagecontent {
	min-height: 741px !important;
}

#body_addresses #order_address_preview {
	height: auto !important;
	padding-bottom: 20px !important;
	width: auto;
}

#body_addresses #order_address_preview div {
	margin-left: 0 !important;
}

#body_addresses #order_address_preview div a {color: #9ed9dc;}
#body_addresses #order_address_preview div a:hover {text-decoration: underline;}
#body_addresses #addr_total {width: 140px;color: #9ed9dc;}
#addr_prev {margin-left: 20px;}
#addr_next b,#addr_prev b {font-weight: normal;}

#body_addresses .addr_list {
	width: 275px;
	margin: 20px;
	overflow: auto;
}

#body_addresses .address table .row-last td span {
    float: left;
    margin-top: 10px;
    padding-top: 6px;
}

#body_addresses #new {background: url("/img/ico-extra.png") no-repeat scroll 10px center #9ed9dc;color: #FFFFFF;float: right;font-size: 15px;font-weight: 700;height: 35px;line-height: 35px;margin-top: 10px;padding: 0 15px 0 40px;width: auto;}
#body_addresses #new:hover {background-color: #5bb7bc;color:#fff !important;}
#body_addresses #new:hover:before{display:none;background:none;}

#body_addresses .address table .row-last td br {
    display: none;
}
#send_date_picker a .ui-icon {font-size: 11px; color: #fff}
#send_date_picker .ui-datepicker-prev, #send_date_picker .ui-datepicker-next {top:0;line-height:49px}
#send_date_picker .ui-datepicker-next span, #send_date_picker .ui-datepicker-prev span{top:0;font-family:'Trebuchet MS',Verdana;font-weight:normal}
#send_date_picker .ui-datepicker-next span {left:-13px;background: url(../img/arr-next-01.png) right 22px no-repeat;padding-right:9px}
#send_date_picker .ui-datepicker-prev span {left:1px;background: url(../img/arr-prev-01.png) left 22px no-repeat;width:110px;padding-left:6px}
.ui-datepicker .ui-datepicker-title {height:49px;font-family:'Open Sans',Arial;font-size: 18px;font-weight: 300;line-height: 49px;margin: 8px 2.3em 0;text-align: center;}
#send_date_picker .ui-state-active {background:#9ed9dc;color: #FFFFFF !important;font-weight: normal;font-family:Arial;font-size:14px;padding: 2px 6px 7px 5px;margin:0 0 -2px;}
#send_date_picker .ui-state-default {color:#000;font-weight:normal!important}
#send_date_picker .ui-state-disabled span{font-weight:bold!important}
#send_date_picker {margin-top: 134px}
#send_date_picker td.ui-datepicker-unselectable span{font-weight:bold}
#send_date_picker .ui-widget-content a{color:#000000;font-weight:bold;text-decoration:none!important}
#send_date_picker {background:none;}
#body_check #pagecontent{padding:0 0 65px;margin-top:0}
#body_check .ui-accordion-header.ui-state-active{background:none!important;height:44px;line-height:45px;margin-bottom:10px!important;color:#262626!important;font-size:20px;text-align:left;font-family:'GillSansMT'}
#body_check .ui-accordion-header.ui-state-active a{padding:0;color:#262626;text-decoration:none!important;background:none !important;font-size:18px;}
#body_check .leftdiv{width:465px;margin-left:33px}
#body_check .rightdiv{width:425px;margin-top:121px;margin-right:35px}
#body_check #accordion{width:auto;border:none;}
#body_check .choice_center > h1 {position:absolute;text-align:center;top:41px;width:100%;color:#8ac0cf}
#body_check #accordion div.ui-accordion-content{background:none;height:330px!important;line-height:21px;padding:0;color:#262626!important;font-size:13px;font-family:Arial;border:0}
#body_check #accordion div.ui-accordion-content #bezorgdatum{display:block;margin:21px 0 1px;color:#9ed9dc;font-size:22px;font-style:normal;font-family:Arial;}
#body_check #send_date_picker > div{background:#fff;width:421px;padding:0;border-left:2px solid #f3f5f4;border-bottom:2px solid #f3f5f4}
#body_check #send_date_picker .ui-datepicker-header{background:#9ed9dc;height:49px;padding:0;margin-left:-2px}
#body_check #send_date_picker table{margin-top:9px;margin-bottom:24px}
#body_check #send_date_picker th{font-size:13px}
#body_check #send_date_picker{height:400px}
#send_date_picker a .ui-icon {font-size: 11px; color: #fff}
#send_date_picker .ui-datepicker-prev, #send_date_picker .ui-datepicker-next {top:0;line-height:49px}
#send_date_picker .ui-datepicker-next span, #send_date_picker .ui-datepicker-prev span{top:0;font-family:'Trebuchet MS',Verdana;font-weight:normal}
#send_date_picker .ui-datepicker-next span {left:-13px;background: url(/img/arr-next-01.png) right 22px no-repeat;padding-right:9px}
#send_date_picker .ui-datepicker-prev span {left:1px;background: url(/img/arr-prev-01.png) left 22px no-repeat;width:110px;padding-left:6px}
.ui-datepicker .ui-datepicker-title {height:49px;font-family: 'Trebuchet MS';font-size: 18px;font-weight: 300;line-height: 49px;margin: 8px 2.3em 0;text-align: center;}
#send_date_picker .ui-state-active {background:#9ed9dc;color: #FFFFFF !important;font-weight: normal;font-family:Arial;font-size:14px;padding: 2px 6px 7px 5px;margin:0 0 -2px;}
#send_date_picker .ui-state-default {color:#000;font-weight:normal!important}
#send_date_picker .ui-state-disabled span{font-weight:bold!important}
#send_date_picker {margin-top: 134px}
#bezorgdatum {
	font-weight: bold;
	font-style: normal;
}

#body_size .info_div .img_div {
	height: 195px;
}

#body_size .info_div {
	height: 372px;
}

#body_size #pagecontent {
	min-height: 670px;
}

#body_size .choice_div {
	padding: 0 5px;
	width: 198px;
}

#body_size .choice_center {
	width: 630px !important;
}

.address table {
	width: 668px;
	margin: 0;
}
#body_enveloppen #pagecontent{padding:27px 0 100px;margin:0}
#body_enveloppen #pagecontent h1{width:960px;padding:0;margin:0;color:#8ac0cf}
#body_enveloppen .leftdiv{width:635px}
#body_enveloppen .rightdiv{width:300px;margin:25px 25px 0 0}
#body_enveloppen .address{background:none;height:auto;width:auto;padding:0 20px 20px 25px;margin-top:-34px}
#body_enveloppen .address table{width:100%;margin:0}
#body_enveloppen .rightdiv #accordion{width:auto;border:1px solid #dbf0e9;background:#fff;padding:0;position:relative;text-align:center;height:auto}
#body_enveloppen .rightdiv #accordion .ui-accordion-header{display:block;background:none;padding:7px 10px 0 16px !important;color:#8ac0cc;font-size:17px;font-family: 'GillSansMT';text-align:left}
#body_enveloppen .rightdiv #accordion .ui-accordion-header a{display:block;padding:0 !important;color:#8ac0cc;font-size:17px;font-family:'GillSansMT';text-align:left;text-decoration:none!important;background:none !important;border:none;}
#body_enveloppen .rightdiv #enveloppen_thumbs{float:left;width:298px;max-height:340px;overflow-y:hidden;overflow-x:hidden;}
#body_enveloppen .rightdiv #enveloppen_thumbs div{width:93px}
#body_enveloppen .rightdiv #accordion div.ui-accordion-content{height:auto!important;padding:10px 0 0 !important;border:0}
#body_enveloppen .rightdiv #accordion div.ui-accordion-content .enveloppen_beschrijving{line-height:21px;padding:15px 17px 0;text-align:left;color:#666;font-size:12px;}
#body_enveloppen .ui-widget-content a{color:#597092;}
#body_edit #cl-bib{width:318px;margin-top:12px}
#body_edit #cl-bib .title{color:#445f66;font-size:11px}
#body_edit #cl-bib #clipartselect{background:#ebf4f3;width:256px;height:30px;padding:5px;margin-left:16px;color:#232728;font-size:12px;font-family:'Trebuchet MS',Verdana;border:1px solid #d0d4d5;box-shadow:inset 1px -1px 0px #fff;-moz-box-shadow:inset 1px -1px 0px #fff;-webkit-box-shadow:inset 1px -1px 0px #fff}
#body_edit #pt-upload{padding:0}
#body_edit #pt-upload input[type="submit"]{background:#9ed9dc;height:29px!important;line-height:25px;padding:0 19px 0 17px !important;margin:0 0 0 2px;color:#fff !important;font-size:13px;font-family:'Trebuchet MS';border-top:1px solid #b1d5df;border-left:1px solid #ddecf1;border-bottom:1px solid #7cadba;border-right:0;box-shadow:1px 1px 0 #4d6b73;-moz-box-shadow:1px 1px 0 #4d6b73;-webkit-box-shadow:1px 1px 0 #4d6b73;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;cursor:pointer;border-left:none;border-top:none;}
#body_edit #pt-upload input[type="submit"]:hover{background-color: #9ed9dc !important; text-decoration:none;border-top-color:#88bac8;border-left-color:#bed9e2;border-bottom-color:#74adbd}
#body_edit #imagetable{margin-top:-3px;color:#657579;font-size:11px;font-family:'Trebuchet MS',Verdana;}
#body_edit #imagetable .centeredImage{display:none}
#body_edit #imagetable #photo_arrange #position_photo_tofront{margin-left:5px}
#body_edit #imagetable #photo_arrange #position_photo_tofront, #body_edit #imagetable #photo_arrange #position_photo_toback{position:relative;top:1px;background:none!important;padding:0!important}
#body_edit #imagetable #photo_arrange #position_photo_tofront:hover, #body_edit #imagetable #photo_arrange #position_photo_toback:hover{background-color:transparent !important}
#body_edit #imagetable #photo_arrange #position_photo_tofront .ui-button-text, #body_edit #imagetable #photo_arrange #position_photo_toback .ui-button-text{padding:0 6px 0 11px}
#body_edit #imagetable #photo_arrange #position_photo_full{margin:0 0 0 17px}
#body_edit #imagetable #photo_arrange #position_photo_full .ui-button-text{padding:0}
#body_edit #imagetable #photo_turn_left, #body_edit #imagetable #photo_turn_right{margin-top:16px;margin-bottom:13px}
#body_edit #imagetable #photo_turn_left{margin-left:14px;margin-right:18px}
#body_edit #imagetable #imgtransparencylabel{width:30px;margin-left:9px}
#body_edit #imagetable #imgtransparency{width:172px;margin-top:13px}
#body_edit #imagetable #recolor{position:relative;top:8px;margin:0 5px 0 9px !important}
#body_edit #imagetable #fg_img_select{float:left;margin-top:10px}
#body_edit .edittable{margin-top:-4px}

#save_user_design, #save_design, #add_photo, #choose_font, #add_text {
	background: #38afd6;
	cursor: pointer;
	border: none;
	color: #fff;
	line-height: 20px;
	padding: 5px 15px;
	font-size: 14px;
	border: 1px solid #38afd6;
	transition: color 0.3s, background 0.3s;
}

#save_user_design:hover, #save_design:hover, #add_photo:hover, #choose_font:hover, #add_text:hover {
	background: #fff;
	color: #666;
	outline: none;
}

.combolist a {
	display: block !important;
}

#save_design {
	clear: both;
	margin: 0 0 7px 0;
}

.ui-accordion-content input#id,
.ui-accordion-content input#title,
.ui-accordion-content input#description,
.ui-accordion-content input#sort_order {
	padding: 3px 5px !important;
	margin: 0 0 7px 0;
	width: 282px !important;
}

.ui-accordion-content select#designer_code,
.ui-accordion-content select#category {
	color: #404006;
	padding: 3px 5px !important;
	width: 294px;
	margin: 0 0 7px 0;
}

#body_cadeau .choice_div .button {
	width: 175px !important;
}

#body_size .choice_div,
#body_size .button {
	width: 175px !important;
}

#body_kaarttype #pagecontent{padding:21px 0 147px;margin:0}
#body_kaarttype #pagecontent h1{padding:0 0 72px;color:#8ac0cf}
#body_kaarttype .choice_center{width:603px}
#body_kaarttype .choice_center:after{content:".";clear:both;display:block;height:0;line-height:0;visibility:hidden}
#body_kaarttype .info_div, #body_kaarttype .choice_div_content{background:none;width:177px;height:202px}
#body_kaarttype .choice_div .info_div{text-align:center}
#body_kaarttype .choice_div img{position:static;top:0}
#body_keuze .choice_div a:hover .button,#body_kaarttype .choice_div a:hover .button{background:url(/img/background.png) no-repeat right -157px;color:#5dc6dc;}
#body_keuze .choice_div a:hover .button:before,#body_kaarttype .choice_div a:hover .button:before{background:#666;}
#body_kaarttype .choice_div{margin:0 12px 50px;padding:0;width:177px}
#body_kaarttype .choice_div .button{width:177px !important;padding:0;text-align:center;}
#body_kaarttype .info_div_content{position:absolute;bottom:19px;left:0;width:177px;line-height:20px;margin:0;color:#262626;font-size:16px;text-align:center;text-transform:lowercase;font-family:"Trebuchet MS";}
#body_kaarttype .bold{color:#262626;font-weight:normal!important}
#body_verzend .choice_center{width:723px;padding:3px 0 179px;text-align:center;}
#body_verzend .choice_center:after{content:".";clear:both;display:block;height:0;line-height:0;visibility:hidden}
#body_verzend .choice_center h1{padding-bottom:62px;color:#8ac0cf}
#body_verzend .choice_center .choice_div{position:relative;width:211px;height:276px;margin:0 15px;display:inline-block;float:none !important;}
#body_verzend .choice_center .info_div{background:#fff;width:209px;height:274px;padding:0;border:1px solid #d8f2e9}
#body_verzend .choice_center .info_div .info_div_content{width:auto!important;margin-left:16px;margin-right:10px}
#body_verzend .choice_center .info_div .info_div_content div{display:block!important;height:125px!important;line-height:21px;color:#262626!important;font-size:13px;font-family:"Trebuchet MS";text-align:left}
#body_verzend .choice_center .info_div .img_div{display:block;width:auto;height:auto;padding:0;margin:0}
#body_verzend .choice_center .info_div .img_div span{display:block;position:inherit;width:auto!important;padding:9px 0 20px 16px;color:#8ac0cc;font-size:17px;text-align:left;font-family:"Trebuchet MS";}
#body_verzend .choice_center .info_div .img_div img{margin-top:21px}
#body_verzend .button{position:absolute;left:17px;bottom:15px;width:147px;text-align:center;}

#body_voorbeeld .choice_center h1 {
	margin-bottom: 30px;
}

.email_block {
    padding-bottom: 10px;
    padding-top: 5px;
}
.reference_block, .email_block {
    clear: both;
    overflow: hidden;
    width: 620px !important;
}

.optiondisplay {
	display: none;
}

.reference_block .line, .email_block .line {
    display: none;
}

.reference_block label, .email_block label {
    float: left;
    font-size: 12px;
    line-height: 16px;
    padding-right: 10px;
    text-align: right;
    width: 310px;
}

.reference_block label {
    padding-top: 7px;
}

.reference_block input, .email_block input {
    border-right: 1px solid #B4B4B4;
    border-top: 1px solid #B4B4B4;
    box-shadow: -1px 1px #D9D9D9 inset;
    color: #404006;
    float: left;
    width: 202px;
}

.button-block {
    float: right !important;
    width: 296px !important;
}

.button-block a.button {
    background: url("/img/ico-arrow03.png") no-repeat right center;
    color: #404006;
    float: right;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-right: 7px;
    padding: 0 32px 0 0;
    text-align: right;
}

.button-block a.button:hover {
    background: url("/img/ico-arrow03-o.png") no-repeat right center;
	text-decoration: underline;
}

#pay {
    border-radius: 0;
    float: right;
    height: 58px;
    line-height: 22px;
    padding: 0 46px 0 30px;
    width: 294px;
}
.oneline {display: none;}
.twoline {display: block;}
.twoline strong {display: block;font-size: 20px;font-weight: 700;}
.twoline span {font-family: Verdana,Geneva,sans-serif;font-size: 12px;}
#body_check #accordion h3 a {border: none;}
#body_basket #pagecontent{padding:0;margin:0 0 7px}
#body_basket h1{margin-top:41px;color:#8ac0cf}
#body_basket #basket{width:960px;padding:0 30px}
#body_basket #basket .price{display:inline-block;float:none !important;margin-top:-11px}
#body_basket #basket td{padding:6px 0!important;color:#262626;font-size:16px;font-weight:normal!important;font-family:'GillSansMT';vertical-align:top;border-bottom-color:#aaffe2}
#body_basket #basket .row-title td{padding-bottom:15px!important;font-size:17px}
#body_basket #basket b{font-weight:normal}
#body_basket #basket .row-title b{font-size:18px}
#body_basket #basket .line{padding:3px 0 6px!important}
#body_basket #rebate{background:none !important;width:100%;height:74px;padding:0;margin:-52px 0 0 0;}
#body_basket #rebate div.button{background:none!important;width:auto;height:34px!important;line-height:32px!important;padding:0 20px 0 0!important;color:#262626!important;border:0;cursor:default}
#body_basket #rebate input, #body_basket #rebate div{float:left}
.tit-rebate{padding-right:20px;height:35px;line-height:35px;}
#body_basket #rebate input{padding:8px 5px;width:140px!important;border:1px solid #d3d3d3;border-top-color:#b4b4b4;border-right-color:#b4b4b4;-moz-box-shadow:inset -1px 1px #d9d9d9;-webkit-box-shadow:inset -1px 1px #d9d9d9;box-shadow: inset -1px 1px #d9d9d9}
#body_basket #rebate input.button{width:auto!important;margin:0 0 0 10px !important;padding:0 15px 0 15px;border:0;border-bottom:2px solid #759ba6;box-shadow:none;}
#body_basket #rebate input.button:hover{background:#68babe;color:#fff !important;}
#body_basket #rebate span{display:none !important}
#body_basket .button-block, #body_basket .email_block{background:#f9f9f9;border-top:2px solid #f0f2f1}
#body_basket .email_block label, #body_basket .reference_block label{width:292px;line-height:17px;padding-right:12px;font-size:11px;font-family:'Trebuchet MS',Verdana;}
#body_basket .reference_block label{padding-top:8px}
#body_basket .button-block{height:131px !important;margin-top:-64px !important;width:340px !important;}
#body_basket .button-block a.button{background:url(/img/arrow-next.png) no-repeat right 12px !important;padding-right:22px;margin:6px 33px 4px;color:#ed1c24!important;font-size:16px;text-transform:none;border:0}
#body_basket .button-block a.button:after{content:">>";right:0;position:absolute;}
#body_basket .button-block a.button:hover{text-decoration:underline!important}
#body_basket .button-block a.button:active{padding-top:0}
#body_basket .button-block #pay{background:#9ed9dc !important;float:right;width:auto;height:70px!important;padding:0 44px 0 15px;margin:0 23px 0 0;color:#fff!important;font-family:'GillSansMT';text-align:right;text-transform:none!important;border:0}
#body_basket .button-block #pay .oneline{display:none}
#body_basket .button-block #pay .twoline strong, #body_basket .button-block #pay .oneline span{display:block;font-size:21px;font-weight:normal;font-family:'GillSansMT'}
#body_basket .button-block #pay .twoline span{display:block;margin-right:-2px;margin-top:2px;font-size:15px;font-family:'GillSansMT'}
#body_basket .button-block #pay:active .twoline strong, #body_basket .button-block #pay:active .oneline span{margin-top:2px}
#body_basket .email_block{padding:27px 0 10px}
#body_basket .reference_block{background:#f9f9f9;padding:0 0 26px}
#body_basket input[type=text]{padding:7px 5px 8px;font-family:'Trebuchet MS',Verdana;font-size:14px;color:#262626;margin-bottom:10px;}
#body_basket .line{border-color:#5dc6dc;}
#body_address #enveloppen_thumbs div{width:99px;}
#enveloppen_thumbs{padding-top:10px;}
#abook{text-align:center;width:auto;}
#ABcancel{width:auto;text-align:center;}
#body_address_n #pagecontent,#body_bestel_details #pagecontent,#body_address #pagecontent{padding-bottom:100px;}
#basket_n .button,table#basket .button{color:#F00 !important;background:none !important;width:auto;}
#basket_n .button:before,table#basket .button:before{content:"x";color:#F00;background:none !important;font-size:13px;font-family:"Trebuchet MS";}
#basket_n input.button[type="submit"]{margin-top:0 !important;color:#597092 !important;text-transform:capitalize;}
#basket_n input.button[type="submit"]:hover{color:#9ed9dc !important;background:none !important;border:none !important;}
#body_basket #rebate span{display:none !important}
#body_basket .email_block label, #body_basket .reference_block label{width:292px;line-height:17px;padding-right:12px;font-size:11px;font-family:'Trebuchet MS',Verdana;}
#body_basket .reference_block label{padding-top:8px}
#body_basket .button-block{height:131px;margin-top:0;}
#body_basket .button-block a.button{background:url(/img/arrow-next.png) no-repeat right 12px !important;padding-right:22px;margin:6px 24px 4px;color:#ed1c24!important;font-size:16px;text-transform:none;border:0;font-weight:normal;position:relative;}
#body_basket .button-block a.button:hover{text-decoration:underline!important}
#body_basket .button-block a.button:before,#body_basket .button-block a.button:hover:before{display:none;}
#body_basket .button-block a.button:after{}
#body_basket .button-block #pay{float:right;width:auto;height:70px!important;padding:0 44px 0 15px;margin:0 23px 0 0;color:#fff;font-family:'GillSansMT';text-align:right;text-transform:none!important;border:1px solid #9ed9dc;background:#9ed9dc !important;}
#body_basket .button-block #pay .oneline{display:none}
#body_basket .button-block #pay .twoline strong, #body_basket .button-block #pay .oneline span{display:block;font-size:21px;font-weight:normal;font-family:'GillSansMT'}
#body_basket .button-block #pay .twoline span{display:block;margin-right:-2px;margin-top:2px;font-size:15px;font-family:'GillSansMT'}
#body_basket .button-block #pay:hover{background:#fff !important;color:#5dc6dc !important;border-color:#666;}
#body_basket .button-block #pay:hover:before{display:none;}
#body_basket .button-block #pay:active .twoline strong, #body_basket .button-block #pay:active .oneline span{margin-top:2px}
#body_basket .email_block{padding:27px 0 0;}
#body_basket .reference_block{padding:0 0 26px}
.terms_and_conditions{display:none;}
.reference_block input,.email_block input{margin-bottom:0 !important;}
#body_basket #basket_n{width:100%;}
#body_enveloppen #pagecontent,#body_address #pagecontent,#body_addresses #pagecontent{position:relative;}
#body_enveloppen #pagecontent h1,#body_address #pagecontent h1,#body_addresses #pagecontent h1{position:absolute;left:0;top:0;width:960px;margin:0;text-align:center;}
#body_addresses #leftdiv{padding-top:50px;}
#body_addresses #rightdiv{padding-top:40px;}
#body_address .leftdiv{padding-top:50px;}
#body_address #rightdiv{padding-top:50px;}
#body_enveloppen .leftdiv{padding-top:8px;}
#body_enveloppen #rightdiv{padding-top:50px;}
#body_address_n #left_div table{width:100%;border-right:none;}
#body_address_n #left_div table td{padding-bottom:5px;}
#body_address_n #left_div{width:655px;float:left;padding-right:20px;border-right:1px solid #5dc6dc;}
#body_address_n #right_div{float:right;width:263px;}
#body_address_n #left_div input[type="text"]{width:98%;margin:0;}
#body_address_n .line{padding:0;}
#body_address_n .line hr{margin:5px 0;background:#5dc6dc;}
#body_bestel_details #price_table td,
#body_bestel_details #column2{border-color:#5dc6dc !important;}
#body_basket #basket_n{width:100%;}
#body_basket #basket_n input[type="submit"]{margin-top:0;width:auto;}
#headerhelp{display:none !important;}
/* # clearfix
---------------------------------------------------------------------------- */

#body_addresses #order_address_preview div,
#bt-pattern,
#bt-color,
#nav_buttons,
#pagecontent,
#enveloppen_thumbs,
#wrapper {
	zoom: 1;
}

#body_addresses #order_address_preview div:after,
#bt-pattern:after,
#bt-color:after,
#nav_buttons:after,
#pagecontent:after,
#enveloppen_thumbs:after,
#wrapper:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#body_eigen_collectie #pagecontent {
	padding-bottom:100px;
}
