/** GLOBAL - BASE -----------------------------------------**/

a,
body,
span {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: #6f6f6e;
}

h3 {
    font-weight: 300;
    font-size: 18px;
    color: #6f6f6e;
}

a {
    color: #6f6f6e;
}

a:hover {
    color: #eb5e5d;
}

.dotted-separator {
    background-image: linear-gradient(to right, #d0d0d0 20%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    height: 2px;
    margin: 30px -15px;
}
