<footer>
    <div class="footer-header">
        <div class="container">
            <div class="cols">
                <div class="footer-header-shopping xs-12 xsm-6 sm-4 ">Vertrouwd winkelen
                    <a href="https://www.thuiswinkel.org/leden/salut.nl/certificaat" target="_blank"><img class="tw" src="/media/LogothuiswinkelWaarborg.png" /></a>
                </div>
                <div class="footer-header-payment xs-12 xsm-6 sm-4">Veilig betalen
                    <a href="/betalen"><img class="id" src="/media/banknieuw1.png" /></a>
                </div>
                <div class="footer-header-delivery xs-12 xsm-12 sm-4">Bezorging door
                    <a href="https://www.postnl.nl/versturen/brief-of-kaart-versturen/speciale-post/rouwpost/?searchResult=position1" target="_blank"><img class="pn" src="/media/postnl.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="footer-main__top">
            <div class="top__items">
                <h2>Kaarten voor</h2>
                <ul>
                    <li><a href="/jongen">Jongens</a></li>
                    <li><a href="/meisje">Meisjes</a></li>
                    <li><a href="/tweeling">Tweeling</a></li>
                    <li><a href="/foto">Foto</a></li>
                    <li><a href="/broertjeofzusje">Broertje / Zusje</a></li>
                    <li><a href="/adoptie">Adoptie</a></li>
                    <li><a href="/kraamfeest">Kraamfeest</a></li>
                    <li><a href="/zelf-maken">Zelf maken</a></li>
                    <li><a href="/rouwkaarten-kinderen">Rouwkaarten kinderen</a></li>
                </ul>
            </div>
            <div class="top__items">
                <h2>Trouwen</h2>
                <ul>
                    <li><a href="/trouwkaarten">Trouwkaarten</a></li>
                    <li><a href="/rsvp-kaarten">R.S.V.P kaarten</a></li>
                    <li><a href="/save-the-date">Save-The-date kaarten</a></li>
                    <li><a href="/menukaarten">Menukaarten</a></li>
                    <li><a href="/zelf-maken">Zelf maken</a></li>
                </ul>
            </div>
            <div class="top__items">
                <h2>Tips &amp; Leuks</h2>
                <ul>
                    <li><a href="/enveloppen-info">Enveloppen vooraf</a></li>
                    <li><a href="/canvas">Canvas</a></li>
                    <li><a href="/reactie-klanten">Reactie klanten</a></li>
                    <li><a href="/geboorteteksten">Geboorteteksten</a></li>
                    <li><a href="/geboortegedichten">Geboortegedichten</a></li>
                    <li><a href="/babynamen-meisje">Leuke babynamen meisje</a></li>
                    <li><a href="/babynamen-jongen">Leuke babynamen jongen</a></li>
                    <li><a href="/teksten-adoptie">Teksten adoptie</a></li>
                </ul>
            </div>
            <div class="top__items">
                <h2>Stijlen</h2>
                <ul>
                    <li><a href="/silhouet">Silhouet</a></li>
                    <li><a href="/retro-vintage">Retro &amp; Vintage</a></li>
                    <li><a href="/stoer">Stoer</a></li>
                    <li><a href="/lief">Lief</a></li>
                    <li><a href="/hip-trendy">Hip &amp; Trendy</a></li>
                    <li><a href="/hout-stempels">Hout &amp; Stempels</a></li>
                    <li><a href="/vrolijk">Vrolijk</a></li>
                    <li><a href="/ruiten-stippen">Ruiten &amp; Stippen</a></li>
                </ul>
            </div>
            <div class="top__items">
                <h2>Werkwijze</h2>
                <ul>
                    <li><a href="/prijzen">Prijzen</a></li>
                    <li><a href="/meest-gestelde-vragen">Meest gestelde vragen</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/garantie">Garantie &amp; Retour</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/algemene-voorwaarden">Algemene voorwaarden</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-main__bottom">
            <div id="social-block">
                <ul class="social">
                    <li class="fb"><a href="https://www.facebook.com/HipDesign" target="_blank">&nbsp;</a></li>
                    <li class="pt"><a href="https://nl.pinterest.com/hipdesignkaart" target="_blank">&nbsp;</a></li>
                    <li class="tt"><a href="https://twitter.com/hipdesign" target="_blank">&nbsp;</a></li>
                    <li class="ig"><a href=" https://www.instagram.com/hipdesignkaarten/" target="_blank">&nbsp;</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- scripts -->
<script>
$('link[href="/common/editor/editor-mobile.css"]').remove();
</script>
<!-- Element components -->
<script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/list.js"></script>
<script src="/css/js/components/mobile-menu.js"></script>

<script src="/css/js/tagscroller.js"></script>
<script src="/css/js/cycle.js"></script>
<script src="/css/js/caro.js"></script>
<script src="/css/js/components/custom.js"></script>
