<link rel="stylesheet" type="text/css" media="screen" href="/css/master.css">
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button"><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button>
            <a class="logo" href="/"><img alt="Jille Jille" class="logo-image logo-small" src="/img/logo-small.png" /> <img alt="Jille Jille" class="logo-image logo-large" src="/img/logo.png" /> <span class="payoff">Geboortekaartjes &amp; Trouwkaarten</span> </a>
            <a class="banner" href="/zelf-maken"> <img alt="Jille Jille" class="banner-image " src="/img/banner.png" /> </a>
            <div class="topbar-menu-left"><a href="/prijzen" title="Gratis verzending">Gratis verzending</a> <a href="/prijzen" title="Proefdruk 1,-">Proef &euro;1,-</a> <a href="/bezorging" title="Voor 18:00 besteld, morgen in huis">Voor 18.00 besteld, vandaag verzonden!</a></div>
            <div class="topbar-menu-right">
                <ul>
                    <li><a class="hphone" href="tel:0857430752" title="085-7430752"><i class="icon icon-phone">&nbsp;&nbsp;</i>(085) 743 07 52</a></li>
                    <li class="info dropdown js-dropdown"><a class="help js-dropdown-click" href="/hulp" title="Meer weten"><span>Meer weten</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/faq">Veelgestelde vragen</a></li>
                            <li><a href="/stappenplan">Stappenplan</a></li>
                            <li><a href="/klantreacties">Klantreacties</a></li>
                            <li><a href="/over-jillejille">Over JilleJille</a></li>
                            <li><a href="/garantie">Garantie &amp; retour</a></li>
                            <li><a href="/algemene_voorwaarden">Algemene voorwaarden</a></li>
                            <li><a href="/privacy-copyrights">Privacy</a></li>
                            <li><a href="/links">Links &amp; Partners</a></li>
                        </ul>
                    </li>
                    <li class="info dropdown js-dropdown"><a class="help  js-dropdown-click" href="/hulp" title="Hulp"><span>Info &amp; Prijzen</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/prijzen">Prijzen</a></li>
                            <li><a href="/proefdruk">Proefdruk</a></li>
                            <li><a href="/papiersoorten">Soorten papier</a></li>
                            <li><a href="/enveloppen-info">Enveloppen</a></li>
                            <li><a href="/betaling">Betalen</a></li>
                            <li><a href="/bezorging">Bezorging</a></li>
                        </ul>
                    </li>
                    <!-- li><a class="basket" href="/tips-en-leuk" title="Tips en leuk">Tips &amp; leuk</a></li -->
                    <li class="info dropdown js-dropdown"><a class="help  js-dropdown-click" href="/tips-en-leuk" title="Tips en leuk"><span>Tips &amp; leuk</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/jongensnamen">Jongensnamen</a></li>
                            <li><a href="/meisjesnamen">Meisjesnamen</a></li>
                            <li><a href="/unisex-namen">Unisex namen</a></li>
                            <li><a href="/teksten-geboortekaartjes">Teksten geboorte</a></li>
                            <li><a href="/teksten-trouwkaarten">Teksten trouwen</a></li>
                            <li><a href="/teksten-adoptiekaartjes">Teksten adoptie</a></li>
                            <li><a href="/weetjes">Leuke weetjes</a></li>
                        </ul>
                    </li>
                    <li><a class="basket" href="/contact" title="Contact"><span>Contact</span></a></li>
                    <li class="dropdown js-dropdown" id="navbar-logout"><a class="account  js-dropdown-click" href="javascript:void(0);" title="Account"><span>Account</span></a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/account_address">Persoonsgegevens</a></li>
                            <li><a href="/account_password">Wachtwoord wijzigen</a></li>
                            <li><a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a></li>
                            <li><a href="/account_orders">Bestellingen</a></li>
                            <li><a href="/eigen_collectie">Eigen collectie</a></li>
                            <li style="border-top: 1px dashed #e0e0e0;"><a href="/logout">Uitloggen</a></li>
                        </ul>
                    </li>
                    <li id="navbar-login"><a class="inloggen" href="/login" onclick="open_float_login(); return false;" title="Inloggen"><span>Inloggen</span> </a></li>
                    <li><a class="basket" href="/basket_n" title="Winkelmandje"><i class="icon icon-basket">&nbsp;</i> <span id="navbar-basket">0 items</span> </a></li>
                </ul>
            </div>
            <div class="topbar-account-mob"><i class="icon icon-user">&nbsp;</i></div>
            <div class="topbar-favourites-mob"><a href="/eigen_collectie"><i class="icon icon-heart-outline">&nbsp;</i></a></div>
            <div class="topbar-basket-mob"><i class="icon icon-basket">&nbsp;</i></div>
            <div class="topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li><a href="/basket_n">Winkelmand</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/eigen_collectie">Eigen collecties</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="topbar-account-menu-mob">
                <p class="account-mobile-menu-title">&nbsp;</p>
                <ul>
                    <li><a href="/eigen_collectie">Eigen collectie</a></li>
                    <li><a href="/account_adresboek">Adresboek</a></li>
                    <li><a href="/account_adres_9mport">Adressen importeren</a></li>
                    <li><a href="/account">Account</a></li>
                    <li class="js-hide-on-logged-in"><a href="/login">Inloggen</a></li>
                    <li class="js-hide-on-logged-out"><a href="/logout">Uitloggen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="nav-m">
            <div class="mobile-nav__highlight-items"><span class="mobile-nav__highlight-item"><a href="/">Home</a> <!-- default --> </span></div>
            <span class="mobile-nav__menu navbar-hamburger"><button type="button"><span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span> <span class="icon-bar">&nbsp;</span></button> menu </span>
        </div>
        <div class="container">
            <div class="collapse">
                <ul class="middlebar-menu-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/geboortekaartjes">Geboorte</a></li>
                    <li><a href="/trouwkaarten">Trouwen</a></li>
                    <li><a href="/geboortekaartjes-nieuwe">Nieuw</a></li>
                    <li class="dropdown js-dropdown"><a class="js-dropdown-click" href="javascript:void(0);">Thema&#39;s</a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li><a href="/geboortekaartjes-silhouet">Silhouet</a></li>
                            <li><a href="/adoptiekaartjes">Werelds &amp; Adoptie</a></li>
                            <li><a href="/geboortekaartjes-boom">Boom</a></li>
                            <li><a href="/geboortekaartjes-dieren">Dieren</a></li>
                            <li><a href="/geboortekaartjes-hartjes">Hartjes &amp; Sterren</a></li>
                            <li><a href="/geboortekaartjes-hout">Hout &amp; Stempels</a></li>
                            <li><a href="/lieve-geboortekaartjes">Lief</a></li>
                            <li><a href="/moderne-geboortekaartjes">Hip &amp; Trendy</a></li>
                            <li><a href="/originele-geboortekaartjes">Origineel</a></li>
                            <li><a href="/geboortekaartjes-ruitjes">Ruiten &amp; Stippen</a></li>
                            <li><a href="/stoere-geboortekaartjes">Stoer</a></li>
                            <li><a href="/geboortekaartjes-tweeling">Tweeling</a></li>
                            <li><a href="/typografie-geboortekaartjes">Tweede kind</a></li>
                            <li><a href="/geboortekaartjes-uil">Uil</a></li>
                            <li><a href="/vintage-geboortekaartjes">Retro &amp; Vintage</a></li>
                        </ul>
                    </li>
                    <li><a href="/canvas-extra">Producten</a></li>
                </ul>
            </div>
            <div class="open-navbar-search"><i class="icon icon-search">&nbsp;</i></div>
            <div class="navbar-search-field">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop77.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field"><i class="icon icon-search">&nbsp;</i></button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- MOBILE HEADER HIGHLIGHT MENUS -->
<!-- 
    The default highlight menu is 'highlight'. 
    The default highlight menu for 'geboortekaartjes' would be 'highlight_geboortekaartjes'. 
    The page geboortekaartjes/geboortekaartjes-jongen' will also use this highlight menu 'highlight_geboortekaartjes'.
    Unless 'highlight_geboortekaartjes_geboortekaartjes-jongen' is defined as a menu.

    The naming uses _ instead of /
-->
<div class="js-highlight-menus" id="highlight-menus">
    <div class="hide" id="highlight">
        <!-- THIS IS DEFAULT -->
        <span class="mobile-nav__highlight-item"><a href="/geboortekaartjes">Geboorte</a></span> 
        <span class="mobile-nav__highlight-item"><a href="/trouwkaarten">Trouwen</a></span> 
        <span class="mobile-nav__highlight-item"><a href="/geboortekaartjes-nieuwe">Nieuw</a></span> 
    </div>
</div>
