<div class="cols">
    <div class="xs-12 xsm-6">
	    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/geboortekaarten';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeHellajillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Geboortekaarten</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-12 xsm-6">
 	    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten';">
	        <img class="img-responsive img-center" src="/media/TrouwkaartDymphyJellebjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Trouwkaarten</h3>
	        </div>
	    </div>
    </div>
</div>
<div class="cols">
    <div class="xs-12 xsm-4">
	    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/zelf-kaartje-maken';">
	        <img class="img-responsive img-center" src="/media/icoonzelfmakenb.png">
	        <div class="thumbnail-footer">
	            <h3>Zelf maken</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-12 xsm-4">
	    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/adoptiekaartjes';">
	        <img class="img-responsive img-center" src="/media/Adoptiekaartarabischjillejillekameel.png">
	        <div class="thumbnail-footer">
	            <h3>Werelds</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-12 xsm-4">
	    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/eboortekaartjes-nieuwe';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeDaniekjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Nieuw</h3>
	        </div>
	    </div>
    </div>
</div>
<div class="dotted-separator">&nbsp;</div>
<div class="indented-text-block">
    <h3>Geboortekaartjes en trouwkaartjes</h3>
    <p>Bij JilleJille vind je de originele geboortekaartjes en trouwkaarten in verschillende stijlen. Ben je zwanger? Gefeliciteerd! Kies uit de collecties leuke, hippe, stoere, vrolijke of lieve, vintage ontwerpen. Onze kaartjes zijn leverbaar in verschillende formaten. Pas zelf eenvoudig je eigen kaartje aan naar jullie wensen..</p>
</div>
<div class="dotted-separator">&nbsp;</div>
<div class="indented-text-block">
    <h3>Thema&#39;s &amp; Stijlen</h3>
</div>
<div class="cols">
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/geboortekaartjes-silhouet';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeToonjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Silhouet</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
 	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/geboortekaartjes-tweeling';">
	        <img class="img-responsive img-center" src="/media/tweelingkaartjeMerlijnNadiajillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Tweeling</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/vintage-geboortekaartjes';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeKeesjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Retro &amp; Vintage</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/geboortekaartjes-dieren';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeElinejillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Dieren</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/lieve-geboortekaartjes';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeAnnemijnjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Lief</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/geboortekaartjes-hout';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeNoudjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Hout &amp; Stempels</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/hippe-geboortekaartjes';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeSusanjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Hip &amp; Trendy</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/stoere-geboortekaartjes';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeRonaldojillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Stoer</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/vrolijke-geboortekaartjes';">
	        <img class="img-responsive img-center" src="/media/Adoptiekaartarabischjillejillekameel.png">
	        <div class="thumbnail-footer">
	            <h3>Ruiten &amp; Stippen</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/adoptiekaartjes';">
	        <img class="img-responsive img-center" src="/media/fotokaartjeZarajillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Fotokaart</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/adoptiekaartjes';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeNorahjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Werelds &amp;Adoptie</h3>
	        </div>
	    </div>
    </div>
    <div class="xs-6 xsm-3">
	    <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/adoptiekaartjes';">
	        <img class="img-responsive img-center" src="/media/geboortekaartjeStarletjillejille.png">
	        <div class="thumbnail-footer">
	            <h3>Broertje / Zusje</h3>
	        </div>
	    </div>
    </div>
</div>
<div class="dotted-separator">&nbsp;</div>
<div class="indented-text-block">
    <h3>Een canvas van de kaartje</h3>
    <p>Bestel bij je geboortekaartje een bijpassend canvas / geboorteschilderijtje met het ontwerp van jullie kaartje. Een mooi aandenken en leuk op de babykamer! Gaat jouw kindje soms naar de creche of naar een oppas, dan is een rugtasje met de naam heel leuk! Groot genoeg voor een schone luier en een speentje. Stuur ons een mailtje; info@jillejille.nl en vermeld de naam en eventueel de geboortegegevens en welk ontwerp jullie willen hebben.</p>
</div>
<div class="dotted-separator">&nbsp;</div>
<div class="indented-text-block">
    <h3>Service &amp; extra&#39;s</h3>
</div>
<div class="cols"> 
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/prijzen';">
            <img class="img-responsive img-center" src="/media/Prijzen.png">
            <div class="thumbnail-footer">
                <h3>Prijzen</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/papiersoorten';">
            <img class="img-responsive img-center" src="/media/PapierFormaat.png">
            <div class="thumbnail-footer">
                <h3>Papier &amp; Formaat</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/enveloppen-info';">
            <img class="img-responsive img-center" src="/media/Enveloppen.png">
            <div class="thumbnail-footer">
                <h3>Enveloppen</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/proefdruk';">
            <img class="img-responsive img-center" src="/media/Proefdruk.png">
            <div class="thumbnail-footer">
                <h3>Proefdruk</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/bezorging';">
            <img class="img-responsive img-center" src="/media/Verzenden.png">
            <div class="thumbnail-footer">
                <h3>Verzenden</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/jongensnamen';">
            <img class="img-responsive img-center" src="/media/TipsLeuks.png">
            <div class="thumbnail-footer">
                <h3>Tips &amp; Leuks</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/faq';">
            <img class="img-responsive img-center" src="/media/Meerweten.png">
            <div class="thumbnail-footer">
                <h3>Meer weten?</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/stappenplan';">
            <img class="img-responsive img-center" src="/media/Hoewerkthet.png">
            <div class="thumbnail-footer">
                <h3>Hoe werkt het</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/canvas-extra"';">
            <img class="img-responsive img-center" src="/media/Extraproducten.png">
            <div class="thumbnail-footer">
                <h3>Extra producten</h3>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-15">
        <div class="thumbnail thumbnail-fluid thumbnail-small" onclick="location.href = '/klantreacties"';">
            <img class="img-responsive img-center" src="/media/Klantwaardering.png">
            <div class="thumbnail-footer">
                <h3>Klantwaardering</h3>
            </div>
        </div>
    </div>
</div>