<div class="indented-text-block">
    <h3>Stijlvolle mooie trouwkaarten voor de mooiste dag van jouw leven.</h3>
    <p >Voor originele stijlvolle trouwkaarten ben je bij JilleJille.nl aan het goede adres!</p>
    <p ">Trouwen doe je als het goed is maar &eacute;&eacute;n keer in je leven, het is een bijzonder moment voor jou en je partner. We hebben een bijzondere collectie huwelijksuitnodigingen die je zelf kunt personaliseren. Mooie stijlvolle trouwkaarten in verschillende stijlen en formaten.</p>
    <p>Van de meeste ontwerpen kun je de teksten, het lettertype en de achtergrond- of letterkleur aanpassen en kun je ook nog bijpassende rsvp-kaarten, save-the-date-kaartjes en menukaarten vinden. Als jullie hulp willen met het maken van een ontwerp, dan horen we het graag. Wij passen het ontwerp of formaat voor jullie aan zonder extra kosten te berekenen.</p>
    <p>Een proefdrukje kost maar &euro;1,- en de verzendkosten zijn gratis!</p>
</div>
