#voor_preview > img {
    max-width: 350px;
}


@font-face {
    font-family: 'SegoePrint';
    src: url('fonts/SegoePrint.eot');
    src: url('fonts/SegoePrint.eot') format('embedded-opentype'),
         url('fonts/SegoePrint.woff2') format('woff2'),
         url('fonts/SegoePrint.woff') format('woff'),
         url('fonts/SegoePrint.ttf') format('truetype'),
         url('fonts/SegoePrint.svg#SegoePrint') format('svg');
}
@font-face {
    font-family: 'Ottawa';
    src: url('fonts/Ottawa.eot');
    src: url('fonts/Ottawa.eot') format('embedded-opentype'),
         url('fonts/Ottawa.woff2') format('woff2'),
         url('fonts/Ottawa.woff') format('woff'),
         url('fonts/Ottawa.ttf') format('truetype'),
         url('fonts/Ottawa.svg#Ottawa') format('svg');
}
@font-face {
	font-family: 'Conv_segoesc';
	src: url('fonts/segoesc.eot');
	src: local('☺'), url('fonts/segoesc.woff') format('woff'), url('fonts/segoesc.ttf') format('truetype'), url('fonts/segoesc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ITCAvantGardeStdXLt';src: url('fonts/ITCAvantGardeStdXLt.eot');src: url('fonts/ITCAvantGardeStdXLt.eot') format('embedded-opentype'),url('fonts/ITCAvantGardeStdXLt.woff2') format('woff2'),url('fonts/ITCAvantGardeStdXLt.woff') format('woff'),url('fonts/ITCAvantGardeStdXLt.ttf') format('truetype'),url('fonts/ITCAvantGardeStdXLt.svg#ITCAvantGardeStdXLt') format('svg');
}
@font-face {
    font-family: 'ITCAvantGardeStdXLtCn';src: url('fonts/ITCAvantGardeStdXLtCn.eot');src: url('fonts/ITCAvantGardeStdXLtCn.eot') format('embedded-opentype'),url('fonts/ITCAvantGardeStdXLtCn.woff2') format('woff2'),url('fonts/ITCAvantGardeStdXLtCn.woff') format('woff'),url('fonts/ITCAvantGardeStdXLtCn.ttf') format('truetype'),url('fonts/ITCAvantGardeStdXLtCn.svg#ITCAvantGardeStdXLtCn') format('svg');
}
@font-face {
    font-family: 'QuicksandRegular';src: url('fonts/QuicksandRegular.eot');src: url('fonts/QuicksandRegular.eot') format('embedded-opentype'),url('fonts/QuicksandRegular.woff2') format('woff2'),url('fonts/QuicksandRegular.woff') format('woff'),url('fonts/QuicksandRegular.ttf') format('truetype'),url('fonts/QuicksandRegular.svg#QuicksandRegular') format('svg');
}
@font-face {
    font-family: 'PlayfairDisplayRegular';src: url('fonts/PlayfairDisplayRegular.eot');src: url('fonts/PlayfairDisplayRegular.eot') format('embedded-opentype'),url('fonts/PlayfairDisplayRegular.woff2') format('woff2'),url('fonts/PlayfairDisplayRegular.woff') format('woff'),url('fonts/PlayfairDisplayRegular.ttf') format('truetype'),url('fonts/PlayfairDisplayRegular.svg#PlayfairDisplayRegular') format('svg');
}
@font-face {
    font-family: 'bauhaus_md_btmedium';
    src: url('fonts/bauhausm-webfont.eot');
    src: url('fonts/bauhausm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bauhausm-webfont.woff2') format('woff2'),
         url('fonts/bauhausm-webfont.woff') format('woff'),
         url('fonts/bauhausm-webfont.ttf') format('truetype'),
         url('fonts/bauhausm-webfont.svg#bauhaus_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bauhaus_lt_btlight';
    src: url('fonts/bauhausl-webfont.eot');
    src: url('fonts/bauhausl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bauhausl-webfont.woff2') format('woff2'),
         url('fonts/bauhausl-webfont.woff') format('woff'),
         url('fonts/bauhausl-webfont.ttf') format('truetype'),
         url('fonts/bauhausl-webfont.svg#bauhaus_lt_btlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{font-family:Arial,Verdana;color:#666;font-size:12px;line-height:20px;}
#wrapper{width: 960px;padding-top:32px;}
#pagecontent p{margin:0;padding:0 0 15px 0;}
a:link,a:visited{color:#666;outline:none;text-decoration:underline;}
img{outline:none;}
a:hover {text-decoration:underline;color:#9fd5da;}
h1,h2,h3,h4,h5,h6{font-family:Arial,Verdana;margin:0;}
h1{color:#9ed9dc;font-size:18px;font-weight:bold;margin-bottom:10px;}
h2{color:#9ed9dc;font-size:16px;font-weight:bold;margin-bottom:10px;}
h3{color:#9ed9dc;font-size:14px;font-weight:bold;margin-bottom:10px;}
h4,h5,h6{color:#5dc6dc;font-size:12px;font-weight:bold;}
#mid{padding-top:20px;padding-bottom:30px;}
#categories{width:180px;}
#pagecontent{width:762px;float:right;margin:0;}
#header .topbar{display:none;}
.topbar{background:url(/img/bg-topbar.png) repeat-x 0 0;height:32px;line-height:32px;width:100%;min-width:960px;position:fixed;z-index:999;}
.topbar .topbar-inner{width:960px;margin:0 auto;text-align:right;color:#706f6f;}
.topbar .topbar-inner ul{list-style:none;padding:0;margin:0;float:right;}
.topbar .topbar-inner ul li{float:left;position:relative;padding: 0 8px 0 5px;}
/*.topbar .topbar-inner ul li:last-child{padding-right:0;}*/
.topbar .topbar-inner ul li:after{content:"|";position:absolute;right:0;top:0;}
/*.topbar .topbar-inner ul li:last-child:after{display:none;}*/
.topbar .topbar-inner ul li a{text-decoration:none;color:#706f6f;display:block;}
.topbar .topbar-inner ul li a:hover{text-decoration:underline;}
.topbar .topbar-inner ul li ul{position:absolute;left:0;top:32px;background-color:#fff;border-bottom:1px solid #adadad;width:110px;text-align:center;-moz-box-shadow: 8px 8px 8px #c4c4c4;-webkit-box-shadow: 8px 8px 8px #c4c4c4;box-shadow: 8px 8px 8px #c4c4c4;padding-top:5px;display:none;z-index:999;}
.topbar .topbar-inner ul li ul li{float:none;border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;line-height:27px;}
.topbar .topbar-inner ul li ul li:last-child{padding-bottom:5px;}
.topbar .topbar-inner ul li ul li:after{display:none;}

#card_previews{clear:both;}
input[type="text"],input[type="password"]{padding:5px 1%;width:98%;border:1px solid #dedede;}
textarea{width:100%;border:1px solid #dedede;}
select{padding:5px 1%;width:100%;border:1px solid #dedede;}
input[type="submit"]{border:1px solid #fff;color:#fff;background:#9ed9dc;height:33px;line-height:27px;padding:0 15px 5px 15px;cursor:pointer;margin-top:20px;}
input[type="submit"]:hover{border:1px solid #666;color:#5dc6dc;background:#fff;}
table td,table{border-collapse: collapse;border-spacing: 0;}
table td{padding: 5px 0;}
.button_wide,.button{text-decoration:none;color:#fff;background:#9ed9dc;padding:0 15px;height:35px;line-height:35px;position:relative;}
.button:before{position:absolute;content:" ";left:0;top:0;width:1px;height:35px;background:#9ed9dc;}
.button_wide:hover,.button:hover{background:url(/img/background.png) no-repeat right -157px;color:#5dc6dc;}
.button:hover:before{background:#666;}
a.button{color:#fff;text-decoration:none;}
#step_forward_alternate,#step_back{text-decoration:none;position:relative;}
#step_forward_alternate{padding-left:0;padding-right:22px;}
#body_basket #nav_buttons a.button[href="/"]:before,#step_forward_alternate:after,#step_back:before{position:absolute;top:0;content:"<<";color:#666;}
#body_basket #nav_buttons a.button[href="/"]:before,#step_back:before{left:0;}
#step_forward_alternate:after{content:">>";right:0;}
#body_basket #nav_buttons a.button[href="/"]:hover,#step_forward_alternate:hover,#step_back:hover{color:#5dc6dc;text-decoration:none;}
#body_basket #nav_buttons a.button[href="/"]:hover:before,#step_forward_alternate:hover:after,#step_back:hover:before{color:#5dc6dc;}
#header{background:url(/img/bg-header.png) no-repeat 0 0;position:relative;}
#header p{margin:0;}
#logo{padding-top:15px;float:left; width:80px;}
#logo span{position:absolute;right:0;top:0;}
#logo img{width:100%;height:85px;}
 @-webkit-keyframes beat {
    0% { transform: scale(1) }
	90% { transform: scale(1) }
    91.5%{ transform: scale(1.1) }
	93%{ transform: scale(1) }
	96%{ transform: scale(1.2) }
	100%{ transform: scale(1) }
  }

  @keyframes beat {
    0% { transform: scale(1) }
	90% { transform: scale(1) }
    91.5%{ transform: scale(1.1) }
	93%{ transform: scale(1) }
	96%{ transform: scale(1.2) }
	100%{ transform: scale(1) }
  }


  #stage {
    position: relative;
    margin: 0 auto;
    width: 88px;
    height: 85px;
	background-image: url("/img/circles.png");
	background-repeat:no-repeat;
	background-size:88px 85px;
  }

  #beatingheart {
    position: absolute;
	left: 30px;
	top: 30px;
    width: 28px;
    height: 24px;
	background-size:28px 24px;
    background-image: url("/img/Heart.png");
    // border-radius: 10px;

    -webkit-animation-name: beat;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;

    animation-name: beat;
    animation-iteration-count: infinite;
    animation-duration: 10s;
  }
#header .hlogo{position:absolute;left:85px;top:70px;font-family: 'bauhaus_lt_btlight';font-size:46px;color:#6f6f6e;}
#header .hlogo a,#header .hlogo a:hover{color:#6f6f6e;text-decoration:none;}
.etiket{
	width:269px;
	background:url(/img/tiket_label.png) no-repeat center / 260px 173px;
	height:182px;
	right:-8px;
	top:-18px;
	z-index:10;
}
#header .center{position:relative;float:left;margin-left:50px;width:500px}
.cus_menu{left:0; top:106px;position:absolute;margin:0;padding-left:82px;}
.cus_menu li{list-style:none;float:left;position:relative;padding:0 5px}
.cus_menu li a{text-decoration:none;font-family:'SegoePrint';font-size:15px;}
.cus_menu li:after{content:"|";position:absolute;width:1px;right:0;top:0;}
.cus_menu li:last-child:after{display:none}
.etiket span{font-family:Ottawa;display:block;width:120px;transform:rotate(-12deg);-ms-transform: rotate(-12deg); -webkit-transform: rotate(-12deg);-webkit-backface-visibility: hidden;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");padding:77px 0 0 20px; font-size:14px;line-height:18px; text-align:center;font-family: 'bauhaus_md_btmedium';}
.cus_menu,.etiket{position:absolute}
.cus_menu a.active{color:#9fd5da}
#hnav{clear:both;padding-top:23px;}
#hnav ul{list-style:none;margin:0;padding:0;}
#hnav ul li{float:left;position:relative;text-align:center;}
#hnav ul li a{display:block;color:#666;font-weight:bold;height:30px;line-height:30px;padding:0 25px;text-decoration:none;}
#hnav ul li.sfHover a.sf-with-ul,#hnav ul li a.active,#hnav ul li a:hover{text-decoration:none;color:#9fd5da;}
#hnav ul li ul{display:none;position:absolute;left:0;top:30px;background:#fff;width:110px;}
#hnav ul li ul li{float:none;padding:0;border-top:1px solid #9ed9dc;}
#hnav ul li ul li a{height:auto;line-height:inherit;padding:5px 0 6px;}
#home{display:none;}
#headermenu{margin:0;padding:0;width:auto;height:auto;/*position:absolute;right:0;top:63px;*/}
#headermenu a{color:#666;text-decoration:none;background:none;font-size:12px;width:auto;position:relative;padding: 0 5px;height:auto;}
#headermenu span{top:0;}
#headermenu a:after{content:"|";position:absolute;width:1px;right:0;top:0;}
#headermenu #headerbasket{padding-right:0;}
#headermenu #headerbasket:after{display:none;}
#headermenu a:hover{/*color:#9fd5da;*/ text-decoration:underline}
#headerlogout span{display:inline;padding:0;}
#basket_text{display:inline;padding:0 5px 0 0;}
#basket_count{padding:0;display:inline-block;margin:0;color:transparent; text-indent:-9999px;background:url(/img/winkelmandje.png) no-repeat 0 5px; background-size:25px 20px;width:25px}
#search{position:absolute;left:0px;top:-24px;z-index: 999;}
#search input[type="text"]{border:1px solid #9ed9dc;float:left;font-size:11px;height:16px;padding:0 5px;width:174px;}
#search input[type="submit"]{background:url(/img/background.png) no-repeat -126px 0;border:none;width:16px;height:18px;cursor:pointer;padding:0;margin:0;}
a#headerhelp{padding:0 5px 0 0}
body.show-tagged #mainmenu{display:none;}
.cate{display:none;}
body.show-tagged .cate,#body_home .cate{display:block;}
body.show-tagged #mainmenu,body#body_home #mainmenu{margin-top:14px;}
.cate a{margin-bottom:30px;display:block;text-decoration:none;height:30px;line-height:30px;font-weight:bold;background:url(/img/background.png) no-repeat right -76px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;font-size:14px;color:#fff;padding-left:15px;position:relative;padding-right:15px;}
.cate a:after{content:"";position:absolute;width:18px;height:18px;right:10px;top:50%;margin-top:-9px;background:url(/img/background.png) no-repeat -254px -3px;}
.cate a.open:after{background-position:-280px -3px;}
.cate a.open{margin:0;}
#leftnav ul{list-style:none;margin:0;padding:0;}
#leftnav ul li{padding-bottom:15px;}
#leftnav ul li a{text-decoration:none;color:#666;font-weight:bold;display:block;padding: 0 0 0 10px;background:url(/img/background.png) no-repeat right -40px;height:30px;line-height:30px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
#leftnav ul li a:hover{text-decoration:none;color:#e30613;}
#leftnav ul li a.current:hover,#leftnav ul li a.current{background-position: right -76px;color:#fff;}
#leftnav ul li ul li{padding-bottom:0;}
#leftnav ul li ul li a{background:none;height:auto;line-height:inherit;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;padding: 9px 0 5px 10px;}
#leftnav ul li ul li a.active,#leftnav ul li ul li a:hover{color:#9fd5da;}
div#filter_menu ul.tag-group-ul {padding-bottom:25px;}
.kleur ul li input[type="checkbox"]{display:none;}
.kleur ul{overflow:hidden;padding-right:45px !important;}
.kleur ul li{float:left;width:18px;padding: 0 5px 5px 0 !important;}
.kleur ul li em{display:none;}
.kleur ul li label{display:block;height:18px;width:18px;font-size:0 !important;}
.kleur ul li label .custom_checkbox{display:block !important;height:18px !important;width:18px !important;background:none !important;}
#tagli-geel label{background:yellow !important;}
#tagli-oranje label{background:orange !important;}
#tagli-wit label{background:#fff !important;}
#tagli-rood label{background:#db1704 !important;}
#tagli-multicolor label{background:url(/img/colorful.png) no-repeat 0 0 !important;}
#tagli-blauw label{background:#2286dd !important;}
#tagli-roze label{background:#d53276 !important;}
#tagli-grijs label{background:#92959f !important;}
#tagli-groen label{background:#9bd576 !important;}
#tagli-paars label{background:#7a4dac !important;}
#tagli-zwart label{background:#000 !important;}
#tagli-bruin label{background:#7b6a4f !important;}
#tagli-turqoise label{background:#03b8af !important;}
#tagli-beige label{background:#cfbda5 !important;}
#tagli-neutraal{display:none;}
#filter_menu ul li.kleur label:hover .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul .kleur ul li input[type="checkbox"]:checked + label .custom_checkbox{background:url(/img/colorful.png) no-repeat 0 -22px !important;height:18px !important;width:18px !important;}

#footer{clear:both;}
.f-inner{background:#9ed9dc;padding:30px;}
.f-inner h3{font-size:12px;padding-bottom:10px;font-weight:bold;color:#666;}
.f-inner a{text-decoration:none;}
.f-inner a:hover{text-decoration:underline;color:#666;}
.f-inner .item{float:left;width:225px;}
.f-inner ul{list-style:none;padding:0;margin:0;}
.f-inner ul li{padding-bottom:10px;}
.f-inner ul li a{color:#fff;}
.copyright{padding-top:5px;}
.copyright p{float:left;margin:0;}
.copyright p.right{float:right;}
.copyright a{text-decoration:none;}
.copyright a:hover{text-decoration:underline;}

#crumbs{padding-bottom:15px;}
#card_previews a{text-decoration:none;}
#card_previews img{width:180px !important;height:200px !important;}
.home-list{list-style:none;margin:30px -20px 0 0;padding:0;}
.home-list li{float:left;padding-right:20px;width:365px;}
.home-list li h2{margin-bottom:10px;}
#body_account_address table .col1{width:130px;}
#body_account_address table{width:600px;}
#body_account_address table td{padding-right:3px;}
#body_account_password table{width:455px;}
.contactfrm{padding-top:30px;width:500px;}
.contactfrm ul{list-style:none;padding:0;margin:0;}
.contactfrm ul li{clear:both;padding-top:15px;}
.contactfrm ul li label{float:left;width:120px;}
.contactfrm ul li p{float:right;width:370px;padding:0 !important;}
.contactfrm ul li.error p input[type="text"]{border-color:#F00;}
.contactfrm ul li.error p span{font-size:10px;color:#F00;display:block;margin-bottom:-19px;line-height:15px;padding-bottom:5px;}
#card_previews_horizontal a img{width:180px !important;height:200px !important;}
#choose_preview{width:auto;padding-right:60px;background:url(/img/background.png) no-repeat right -117px;right:0 !important;bottom:36px !important;}
#choose_preview:hover{background-position: right -198px;}
#design{height:400px !important;}
.save_user_design{font-size:11px;right:0 !important;}
#prev_page,#next_page{background-image:url(/img/background.png) !important;background-repeat:no-repeat !important;width: 34px !important;height:39px !important;top:79px !important;}
#prev_page{background-position:left -241px !important;}
#next_page{background-position:-57px -241px !important;}
#prev_page:hover{background-position:-114px -241px !important;}
#next_page:hover{background-position:-171px -241px !important;}
#knav{margin-top:0 !important;}
#design .description{width:490px !important;bottom:30px !important;}

#registreer,#pw_recovery,#login{border:1px solid #dedede;margin:0 0 20px 0;width:330px;clear:inherit;padding:15px 20px 20px;height:auto;}
#registreer{float:right;}
#registreer .label{padding-right:10px;}
#pw_recovery { float:left !important; }
#pw_recovery table,#login table{width:100%;}
#pw_recovery table .label,#login table .label{width:110px;}
#pw_recovery input[type="text"], #pw_recovery input[type="password"],#login input[type="text"], #login input[type="password"]{width:98%;}
#body_login .align_bottom{width:auto;text-align:center;margin:10px 0 0 0;bottom: inherit;position:inherit;}
#registreer .align_bottom{margin-top:0;}
#body_login .errormsg{padding:0;}
.mixed-image .row{margin:0px 0 0;overflow:hidden}
.mixed-image .row a{float:left; max-width:20%;position:relative;height:200px}
.mixed-image .row .cell img{max-width:100%; width: 90% !important; height:auto; max-height:190px;
-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
			-webkit-transform-origin: left bottom;
			-moz-transform-origin: left bottom;
			-ms-transform-origin: left bottom;
			-o-transform-origin: left bottom;
			transform-origin: left bottom;}
.mixed-image .row a.cell1{z-index:4}
.mixed-image .row a.cell2{z-index:3}
.mixed-image .row a.cell3{z-index:2}
.mixed-image .row a.cell4{z-index:1}
.mixed-image .row a.cell1 img{transform:rotate(-3deg);-ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); margin:15px 0 0 10px;-webkit-backface-visibility: hidden;
outline: 1px solid transparent; height:auto}
.mixed-image .row a.cell2 img{transform:rotate(5deg);-ms-transform: rotate(5deg); -webkit-transform: rotate(5deg); margin:10px 0 0 2px;-webkit-backface-visibility: hidden;
outline: 1px solid transparent;height:auto}
.mixed-image .row a.cell3 img{transform:rotate(2deg);-ms-transform: rotate(2deg); -webkit-transform: rotate(2deg); margin: 12px 0 0 6px;-webkit-backface-visibility: hidden;
outline: 1px solid transparent;height:auto}
.mixed-image .row a.cell4 img{transform:rotate(-3deg);-ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); margin:15px 0 0 10px;-webkit-backface-visibility: hidden;
outline: 1px solid transparent;height:auto}
.mixed-image .row a.cell5 img{transform:rotate(-5deg);-ms-transform: rotate(-5deg); -webkit-transform: rotate(-5deg); margin:12px 0 0 12px;-webkit-backface-visibility: hidden;
outline: 1px solid transparent;height:auto}
.mixed-image .row a.cell6 img{transform:rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); margin: 12px 0 0 6px;-webkit-backface-visibility: hidden;
outline: 1px solid transparent;height:auto}
.mixed-image{margin:-20px 0 15px 20px;overflow:hidden}
.mixed-image h2{
	background:url(/img/bg_cards.png) no-repeat center;
	text-align:center;
	line-height:33px;
	margin:0 0 10px;
	color:#4a4a4a;
	font-family: Conv_segoesc, arial;
	font-size: 15px;
	font-weight: 100;
}
#design .proefdruk{position: absolute;bottom: 9px;font-weight: 700;}
/* # clearfix
---------------------------------------------------------------------------- */
.contactfrm ul li,.clearfix{zoom:1;}
.contactfrm ul li:after,.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
#headerhelp{display:none !important;}

#geslacht {
    width: initial;
}

.card_previews {
    display: inline;
    text-align: center;
}

.card_previews > div {
    display: table-cell;
    float: left;
    width: 25%;
}
