/** COMPONENTS - NAVBAR -----------------------------------------**/

.navbar {
    height: 98px;
    background-image: linear-gradient(to right, #d0d0d0 20%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    .collapse {
        top: 105px;
        background-color: #fff;
    }
    .topbar {
        & > .container {
            position: relative;
        }
        a.logo {
            height: 50px;
            padding: 5px;
            text-align: left;
            width: 180px;
            .payoff {
                display: none;
            }
            .logo-image.logo-small {
                max-width: initial;
                height: 100%;
            }
            .logo-image.logo-large {
                max-width: initial;
                display: none;
            }
        }
        a.banner {
            display: none;
        }
        .navbar-hamburger {
            display: none;
        }
    }
    .navbar-search-field {
        display: none;
    }
    .middlebar {
        background: none;
    }
}

.navbar .navbar-hamburger .icon-bar {
    background-color: #404040;
}

.topbar-account-mob,
.topbar-favourites-mob {
    display: inline-block;
    font-size: 24px;
    padding: 11px 5px;
    float: right;
}

.topbar-account-mob {
    margin-right: 45px;
}

.navbar .topbar .topbar-account-menu-mob {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 50px;
    z-index: 99;
    display: none;
    box-shadow: 2px 2px 3px #ddd;
}

.navbar .topbar .topbar-account-menu-mob .account-mobile-menu-title {
    padding: 5px 10px;
    margin-bottom: 0;
}

.navbar .topbar .topbar-account-menu-mob ul li {
    border-top: 1px solid #eee;
}

.navbar .topbar .topbar-account-menu-mob ul li a {
    padding: 5px 10px;
    display: block;
}

.navbar .middlebar {
    height: 48px;
}

.navbar .topbar .topbar-basket-mob {
    width: 24px;
}

@media only screen and (min-width: 768px) {
    .navbar {
        height: 63px;
        .middlebar {
            .navbar-search-field {
                width: 210px;
                display: block;
            }
        }
    }
    .navbar .collapse {
        top: 60px;
    }
    .navbar .topbar a.logo--small {
        margin-top: 1px;
    }
    .navbar .topbar .navbar-hamburger {
        display: inline-block;
    }
    .navbar .topbar .topbar-basket-mob {
        padding: 16px 15px;
    }
    .topbar-account-mob,
    .topbar-favourites-mob {
        padding: 16px 5px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        height: auto;
        margin-bottom: 0px;
        background: none;
        .topbar {
            a.logo {
                display: block;
                position: absolute;
                height: 170px;
                bottom: 20px;
                left: 15px;
                width: calc(100% - 425px);
                .logo-image.logo-small {
                    display: none;
                }
                .logo-image.logo-large {
                    height: 100%;
                    max-height: initial;
                    display: block;
                }
            }
            a.banner {
                position: absolute;
                bottom: 15px;
                right: 15px;
                display: block;
                width: 545px;
                img {
                    width: 100%;
                }
            }
        }
    }
    .navbar .collapse {
        height: 50px;
        top: 0;
        background-color: #fff;
    }
    .navbar .topbar .navbar-hamburger {
        display: none;
    }
    .navbar .topbar .topbar-basket-mob,
    .topbar-account-mob,
    .topbar-favourites-mob {
        display: none;
    }
    .navbar .topbar {
        background-image: linear-gradient(to right, #d0d0d0 20%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 10px 2px;
        background-repeat: repeat-x;
        height: auto;
    }
    .navbar .topbar .container {
        height: 208px;
    }
    .navbar .topbar .dropdown:hover {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background-color: transparent;
        z-index: 999;
    }
    .navbar .topbar .topbar-menu-right {
        right: 20px;
    }
    .navbar .middlebar .navbar-search-field form {
        border: none;
    }
    .navbar .middlebar ul.middlebar-menu-right>li {
        margin-right: 0px;
    }
    .navbar .middlebar ul.middlebar-menu-right>li:hover {
        background-color: transparent;
    }
    .navbar .middlebar ul.middlebar-menu-right>li>a {
        font-size: 20px;
    }
    .navbar .topbar .topbar-menu-right > ul > li {
        border-top: 2px solid rgba(235, 94, 93, 0);
        transition: border 0.3s;
        margin-right: -8px;
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown:after {
        content: ' ';
        position: absolute;
        background-color: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        z-index: 999;
    }
    .navbar .topbar .topbar-menu-right > ul > li:hover {
        border-top-color: rgba(235, 94, 93, 1);
    }
    .navbar .topbar .topbar-menu-right > ul > li > a {
        color: #6f6f6e;
        padding: 0 10px;
        border-right: 2px solid #79c4c7;
        height: 15px;
        line-height: 15px;
        margin: 20px 0;
    }
    .navbar .topbar .topbar-menu-right > ul > li.active > a {
        border-right: 2px solid #fff;
    }
    .navbar .topbar .topbar-menu-right > ul > li:last-child a {
        border-right: none;
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul {
        right: -1px;
        z-index: -1;
        padding: 30px 45px;
    }
    .navbar .topbar .topbar-menu-right > ul > li.dropdown > ul > li > a {
        white-space: nowrap;
    }
    .navbar .middlebar ul.middlebar-menu-left .dropdown > ul,
    .navbar .middlebar ul.middlebar-menu-right .dropdown > ul {
        margin-top: 40px;
        border-top: 1px solid #eee;
        border-left: none;
    }
    .navbar .middlebar ul.middlebar-menu-right ul.dropdown-content > li > a {
        padding-left: 10px;
    }
    .navbar .middlebar {
        position: relative;
        top: initial;
        font-size: 20px;
        height: 64px;
        background-color: transparent;
        background-image: linear-gradient(to right, #d0d0d0 20%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 10px 2px;
        background-repeat: repeat-x;

    }
    .navbar .middlebar ul.middlebar-menu-right {
        margin: 10px 0;
        height: 40px;
        display: flex;
        justify-content: space-between;
        right: 45px;
        width: calc(100% - 45px);
    }
    .navbar .middlebar ul.middlebar-menu-right > li {
        border-right: 2px solid #79c4c7;
        height: initial;
        margin-left: 0px;
        flex-grow: 1;
        flex-basis: auto;
        text-align: center;
    }
    .navbar .middlebar ul.middlebar-menu-right > li > a {
        padding: 10px 30px;
        display: block;
        transition: all 0.3s;
    }
    .navbar .middlebar ul.middlebar-menu-right > li i {
        line-height: 1em;
    }
    .navbar .middlebar .navbar-search-field {
        background: #fff;
        border: 1px solid #79c4c7;
        width: 274px;
        height: 32px;
        top: -60px;
        right: 15px;
        background: [[kleur6]];
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        margin: 0px;
        right: 13px;
        top: 2px;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        margin: 0px;
        padding: 0px 10px;
        height: 27px;
        font-family: 'Muli', sans-serif;
        font-size: 16px;
        color: #6f6f6e;
        width: 240px;
        border: none;
        top: 0;
        right: initial;
    }
    .navbar .middlebar .navbar-search-field .search-button-field i {
        font-size: 16px;
    }
    .navbar .middlebar .open-navbar-search {
        display: block;
        top: 20px;
        right: 8px;
        padding: 0;
        height: initial; 
        position: absolute;
        width: 30px;
        z-index: 99;
        background-color: #ffffff;
        text-align: center;
    }



    .navbar .middlebar .open-navbar-search i {
        font-size: 20px;
    }
    .navbar .middlebar .navbar-search-field {
        border-width: 2px;
        width: 324px;
        height: 42px;
        top: 9px;
        right: 0px;
        display: none;
    }
    .navbar .middlebar .navbar-search-field .search-button-field {
        top: 7px;
    }
    .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
        height: 37px;
        font-size: 20px;
        width: 290px;
    }
    .navbar .middlebar .navbar-search-field .search-button-field i {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar .topbar {
        .container {
            height: 240px;
        }
        a.banner {
            width: 700px;
        }
        a.logo {
            width: 500px;
            .logo-image.logo-large {
                margin-left: 0px;
                height: 90%;
            }
            .payoff {
                display: block;
                color: #aaa4a3;
                font-size: 110%;
                padding-top: 5px;
                line-height: 1em;
            }
        }
    }
    .navbar .topbar .topbar-menu-left {
        position: absolute;
        display: block;
        color: #79c4c7;
        font-size: 12px;
        padding-top: 6px;
    }
    .navbar .topbar .topbar-menu-right {
        font-size: 14px;
        right: 8px;
    }
}
