/** BUTTON - BLOCK **/

.button-block {
    border: 1px solid #eb5e5d;
}

.button-block > a {
    background-color: #eb5e5d;
    color: #fff;
    width: 101%;
    transition: color 0.3s, background-color 0.3s;
}

.button-block > a .button-block-content,
.button-block > a .button-block-title,
.button-block > a .button-block-text {
    color: inherit;
}

.button-block > a:hover {
    background-color: #fff;
    color: #eb5e5d;
}
