/** BLOCKS - CARD-THUMBNAIL **/

.thumbnail-card {
    margin-bottom: 0px;
}

#card_previews .thumbnail-card .thumbnail-card-img > a {
    height: auto;
}

.thumbnail-card .thumbnail-card-label {
    margin: -20px 0 0 0;
}
