/** BLOCKS - FOOTER **/

.footer {}

.footer-header {
    width: 100%;
    background: #fff;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    overflow: hidden;
    text-align: center;
}

.footer-header .footer-header-shopping img,
.footer-header .footer-header-payment img,
.footer-header .footer-header-delivery img {
    height: 30px;
    margin: 10px 0;
}

.footer-main {
    background: #b7dfe3;
}

.footer-main__top {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-main__top .top__items {
    padding: 15px;
}

.footer-main__top .top__items h2 {
    color: white;
    font-size: 24px;
}

.footer-main__bottom {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .footer-main__bottom {
        text-align: right;
    }
}
