/** BLOCKS - HEADER **/

.topbar-menu-right {
    font-size: 14px;
    right: 8px;
}

.topbar-menu-right .icon-phone {
    color: #eb5e5d;
}

.navbar .topbar a.logo--large {
    display: none;
}

.navbar .topbar a.logo--small {
    display: inline-block;
    margin-top: 5px;
}

.navbar .middlebar .navbar-search-field form {
    background: transparent;
    border: 1px solid #79c4c7;
    border-radius: 15px;
}

.navbar .middlebar .navbar-search-field .search-button-field {
    padding: 0 10px 0 10px;
}

.navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    outline: none;
    margin-left: 15px;
    padding: 0px;
}

.navbar .middlebar ul.middlebar-menu-right ul.dropdown-content {
    border-left: 3px solid #d0d0d0;
}

.navbar .middlebar ul.middlebar-menu-right ul.dropdown-content > li > a {
    padding-left: 25px;
}

.floatAdmin {
    display: block;
}

.navbar .collapse {
    padding: 0 15px;
}
