/** BLOCKS - INDENTED-TEXT **/

.indented-text-block {
    padding: 0 0 0 30px;
}

.indented-text-block h3 {
    position: relative;
    margin: 40px 0 20px 0;
}

.indented-text-block h3:before {
    position: absolute;
    left: -30px;
    width: 15px;
    font-size: 12px;
    font-family: 'kcicons';
    font-style: normal!important;
    content: 'h';
    color: #EB5E5D;
}
