/** BLOCKS - PRICES-TABLE **/

#body_design table.prijsOf td.sizeTd {
    padding-right: 25px;
}

#body_design table.prijsOf .priceTd span {
    display: inline-block !important;
    width: auto !important;
    float: none !important;
    vertical-align: top !important;
    text-transform: lowercase !important;
}

#body_design table.prijsOf td.priceInfoTd {
    position: relative;
    width: 25px;
}

#body_design table.prijsOf td.priceInfoTd:before {
    font-family: 'kcicons';
    content: 'k';
    cursor: pointer;
    padding-left: 5px;
    font-size: 16px;
}

#body_design table.prijsOf td.priceInfoTd:hover div.priceHover {
    display: block;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover {
    display: none;
    z-index: 500;
    padding: 15px;
    background: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 270px;
    -webkit-box-shadow: 0 0 5px 0 #575757;
    box-shadow: 0 0 5px 0 #575757;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverName {
    width: 220px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice {
    width: 150px;
}

#body_design table.prijsOf td.priceInfoTd div.priceHover table td.priceHoverPrice:after {
    content: ' p/st';
    vertical-align: top;
}
