/** BLOCKS - SIDEBAR-MENU **/

#sidebar {
    display: none;
}

.sidebar_widget .list-vertical > li,
#filter_menu .tag-group-ul > li {
    margin-bottom: 30px;
}

.sidebar_widget .list-vertical > li > a,
#filter_menu .tag-group-ul > li > h3 {
    font-weight: 300;
    font-size: 1em;
    padding: 0;
}

.sidebar_widget .list-vertical > li > a:before,
#filter_menu .tag-group-ul > li > h3:before {
    font-family: 'kcicons';
    font-style: normal!important;
    content: 'h';
    color: #EB5E5D;
    vertical-align: bottom;
    margin-right: 20px;
    font-size: 14px;
    width: 15px;
    text-align: center;
    display: inline-block;
}

.sidebar_widget .list-vertical li ul,
#filter_menu .tag-group-ul > li ul {
    margin: 0px 0 10px 0;
    border-left: none;
    padding-left: 0px;
    margin-left: 0px;
}

.sidebar_widget .list-vertical > li > ul > li a {
    padding: 0 0px;
}

.sidebar_widget .list-vertical > li > ul > li a:before {
    content: '';
    margin-right: 22px;
    margin-left: 3px;
    text-align: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #79c4c7;
}

#filter_menu .tag-li label {
    font-weight: 300;
}

#filter_menu li.tag-li .custom_checkbox {
    margin-right: 19px;
}

div#filter_menu .kleur ul {
    overflow: hidden;
    padding-right: 25px;
    padding-left: 40px;
}

div#filter_menu .kleur ul li {
    float: left;
    width: 18px;
    margin: 0 10px 10px 0!important
}

#filter_menu label {
    color: #919191
}

.kleur ul li em,
.kleur ul li input {
    display: none
}

.kleur ul li label {
    display: block;
    height: 18px;
    width: 18px;
    font-size: 0!important
}

.kleur ul li label .custom_checkbox {
    display: block!important;
    height: 18px!important;
    width: 18px!important;
    background: 0 0!important;
    margin: 0
}

#filter_menu .kleur ul li input[type=checkbox]:checked+label .custom_checkbox,
#filter_menu .kleur ul li label:hover .custom_checkbox {
    position: relative;
}

#filter_menu .kleur ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu .kleur ul li label:hover .custom_checkbox:after {
    position: absolute;
    line-height: 1em;
    top: 2px;
    left: -1px;
    font-size: 18px;
}

#tagli-geel label {
    background: #fff100!important
}

#tagli-goud label {
    background: #d6b571!important
}

#tagli-oranje label {
    background: #f8712d!important
}

#tagli-wit label {
    background: url(/img/colorful.png) 0 -47px no-repeat #fff!important
}

#tagli-rood label {
    background: #f12f2b!important
}

#tagli-blauw label {
    background: #009ad4!important
}

#tagli-zwart-wit label {
    background: -webkit-gradient(linear, right top, left top, color-stop(0.50, #000000), color-stop(0.50, #FFFFFF)) !important;
    background: -moz-linear-gradient(right center, #000000 50%, #FFFFFF 50%) !important;
}

#tagli-zilver label {
    background: #ccc!important
}

#tagli-roze label {
    background: #f22c87!important
}

#tagli-grijs label {
    background: #c9cfd1!important
}

#tagli-groen label {
    background: #009c47!important
}

#tagli-paars label {
    background: #87337c!important
}

#tagli-zwart label {
    background: #000!important
}

#tagli-bruin label {
    background: #714427!important
}

#tagli-multicolor label {
    background: url(/img/multicolor.png) no-repeat 50% 50% !important;
}

#tagli-turqoise label {
    background: #03b8af !important;
}

#tagli-beige label {
    background: #cfbda5 !important;
}

#tagli-neutraal {
    display: none;
}

#filter_menu ul .kleur ul li input[type=checkbox]:checked+label .custom_checkbox,
#filter_menu ul .kleur ul li label:hover .custom_checkbox,
#filter_menu ul li.kleur label:hover .custom_checkbox {
    height: 18px!important;
    width: 18px!important;
    border: none;
}

@media only screen and (min-width: 992px) {
    #sidebar {
        display: block;
    }
}
