/** BLOCKS - SOCIAL-BLOCK **/

#social-block {}

#social-block ul li {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.3s;
}

#social-block ul li:hover {
    border: 2px solid rgba(1, 1, 1, 0.5);
    border-radius: 12px;
}

#social-block ul li a {
    display: block;
    height: 44px;
    width: 44px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#social-block ul li.fb a {
    background-image: url(/img/social/facebook.png);
}

#social-block ul li.tt a {
    background-image: url(/img/social/twitter.png);
}

#social-block ul li.pt a {
    background-image: url(/img/social/pinterest.png);
}

#social-block ul li.ig a {
    background-image: url(/img/social/email.png);
}
