/** BLOCKS - THUMBNAIL **/

.thumbnail {
    border-radius: 0px;
    border: 1px solid #7bc4c7;
    .thumbnail-footer {
        border-top: 3px solid #79c4c7;
        transition: border 0.3s, opacity 0.3s;
        background: #fafafa;
        width: 100%;
        padding-bottom: 15%;
        position: relative;
        text-align: center;
        h3 {
            line-height: 1.2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            transition: color 0.3s;
        }
    }
    &:hover {
        .thumbnail-footer {
            border-color: #eb5e5d;
            opacity: 1;
        }
        img {
            opacity: 1;
        }
    }
}

.thumbnail-fluid {
    padding: 82% 0 0 0 !important;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        top: 0;
    }
    &.thumbnail-small {
        padding: 100% 0 0 0 !important;
        .thumbnail-footer {
            border-top: none;
            h3 {
                font-size: 14px;
            }
        }
        img {
            width: 90%;
            top: 5%;
            left: 5%
        }
        &:hover {
            .thumbnail-footer {
                h3 {
                    color: #eb5e5d;
                }
            }
 
        }

    }
}



